
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .conteudo {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .imagem-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  /* Texto "Street" no canto superior esquerdo */
  .titulo-esquerda {
    position: absolute;
    top: 30px;
    left: 50px;
    color: white;
    font-size: 2.5rem;
    z-index: 1;
  }
  
  /* Menu no centro superior */
  .menu {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    list-style: none;
    z-index: 1;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }
  
  /* Texto no topo direito */
  .texto-direita {
    position: absolute;
    top: 45px;
    right: 50px;
    color: white;
    font-size: 1.2rem;
    z-index: 1;

    & ul{
        list-style: none;
        
    }
    & li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        display: inline;
        margin-right: 40px;
        }
        & p{
            margin-right: 1px;
            display: flex;
            margin: 42px;
        }
  }
  
  /* Texto e botão central */
  .texto-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 2rem;
  }
  
  .texto-central button {
    margin-top: 10px;
    padding: 15px 50px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(22, 21, 21);
  }
  
  /* Texto inferior esquerdo */
  .texto-inferior {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: white;
    font-size: 1rem;
    z-index: 1;

    & ul{
        list-style: none;
        
    }
    & li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        display: inline;
        margin-right: 40px;
        
        }

  }
  
  