body {
    margin: 0;
  }
  
  .conteudo {
    width: 100vw; 
    height: 100vh; 
    position: relative;
  }
  
  .conteudo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  /* Texto sobre a imagem */
  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  /* Título */
  .texto h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  /* Lista de links */
  .lista {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .lista li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .lista li a:hover {
    color: #f0c040;
  }
  